.search-bar{
}
.search-box{
    margin-right:0.3em;
    border-radius: 6%/50%;
    text-indent: 0.6em;
    width: 15em;
}
#title{
    margin-top: 1em;
    width:60em;

}
::placeholder {
    text-indent: 0.6em;
}
.no-task{
    padding-top: 2em;
    text-align: center;
}
.main{
    margin-left:21.5rem;
    /* margin-right:14rem; */
}

#title{
    display:flex;
    background-color: lightgrey;
    text-align: center;
    padding: 0.5em;
    border-radius: 5px/5px;
    border:solid;
    /* margin-right:10em; */
}